<a href="https://colab.research.google.com/github/Aaron-David-HdM/Applied-Data-Analytics/blob/main/Datenimport_und_Bereinigung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
!git clone https://github.com/Aaron-David-HdM/Applied-Data-Analytics.git

fatal: destination path 'Applied-Data-Analytics' already exists and is not an empty directory.

In [30]:
%cd /content/Applied-Data-Analytics/UseCase_2

/content/Applied-Data-Analytics/UseCase_2

**Importieren von benötigten Bibliotheken sowie lesen der CSV-Datei**

In [24]:
import pandas as pd

filepath = 'Verkaufszahlen_Kaggle.csv' # Verkaufszahlen für Usecase 2
df = pd.read_csv(filepath, decimal='.')

**Ausgabe des Dataframes**

In [25]:
df

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
1    226-31-3081      C  ...       3.8200    9.6
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
..           ...    ...  ...          ...    ...
995  233-67-5758      C  ...       2.0175    6.2
996  303-96-2227      B  ...      48.6900    4.4
997  727-02-1313      A  ...       1.5920    7.7
998  347-56-2442      A  ...       3.2910    4.1
999  849-09-3807      A  ...      30.9190    6.6

[1000 rows x 17 columns]

**Entfernen der nicht benötigten Spalten**

In [26]:
new_df = df.drop(columns=['Invoice ID', 'Branch', 'City', 'Customer type', 'Product line', 'Tax 5%', 'Date', 'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income', 'Quantity', 'Unit price' ])
new_df.head()

   Gender     Total  Rating
0  Female  548.9715     9.1
1  Female   80.2200     9.6
2    Male  340.5255     7.4
3    Male  489.0480     8.4
4    Male  634.3785     5.3

**Gesamtausgaben (Total) aufrunden**

In [28]:
new_df.round({'Total': 2})

     Gender    Total  Rating
0    Female   548.97     9.1
1    Female    80.22     9.6
2      Male   340.53     7.4
3      Male   489.05     8.4
4      Male   634.38     5.3
..      ...      ...     ...
995    Male    42.37     6.2
996  Female  1022.49     4.4
997    Male    33.43     7.7
998    Male    69.11     4.1
999  Female   649.30     6.6

[1000 rows x 3 columns]

In [ ]:
new_df.to_csv('Verkaufszahlen.csv', sep=',')